/* Style the form - display items horizontally */
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Add some margins for each label */
.form-inline label {
    margin: 15px 20px 15px 0;
    background-color:#d6d6d6;
}

/* Style the input fields */
.form-inline input {
    vertical-align: middle;
    margin: 15px 20px 15px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.form-group {
    vertical-align: middle;
    margin: 15px 20px 15px 0;
    padding: 10px;
    background-color: #d6d6d6;
    border: 1px solid #ddd;
}
